/* deployments panel*/
#bamboo-deployment-projects-right {
    display: none;
}

#bamboo-deployment-projects-right .property-list {
    margin: 10px 0 0;
}

#bamboo-deployment-projects-right .property-list:first-child {
    margin: 0;
}

#bamboo-deployment-projects-right .aui-message.no-border {
    border: 0 none;
}

#bamboo-deployment-projects-right .aui-message.no-background {
    background: none repeat scroll 0 0 transparent;
}

/* deployments dialog */
#bamboo-deployments-issue-status-container {
    background-color: #FFF;
    height: 300px;
    overflow: auto;
    padding: 15px 20px 20px;
}

#bamboo-deployments-issue-status-container h3 {
    margin: 20px 0 0;
}

#bamboo-deployments-issue-status-container h3:first-child {
    margin: 0;
}

#bamboo-deployments-issue-status-container .property-list {
    padding-left: 20px;
}

#bamboo-deployments-issue-status-container .property-list .item {
    margin: 5px 0 0;
}

#bamboo-deployments-issue-status-container table {
    margin: 5px 0;
}
