.bambooContent #Successful {
    color: green;
}

.bambooContent #Failed {
    color: red;
}

.bambooContent a.Failed {
    color: red;
}

.bambooContent a.Successful {
    color: green;
}

.bambooContent h1 {
    font-size: 14px;
}

#bambooTabPanelHtml {
    margin: 10px 0 0 0;
}

#bambooTabPanelDescription {
    padding-bottom: 5px;
}

#issue_actions_container #bambooTabPanel {
    width: 100%;
    margin: 0;
}

#bambooTabPanel .header .subText {
    font-size: 10px;
    margin-bottom: -7px;
    position: relative;
    top: -6px;
}

#issue_actions_container #bambooTabPanel .header .subText {
    margin-bottom: -5px;
    margin-top: 0;
    top: -3px;
}

#bambooTabPanel ul {
    list-style-type: none;
    margin: 0;
}

#bambooTabPanel .formtitle a, #bambooTabPanel .formtitle a:hover img {
    text-decoration: none;
}

#bambooTabPanel .formtitle a:hover {
    text-decoration: underline;
}

#bambooTabPanel h3.formtitle img {
    margin-top: -3px;
}

#bambooTabPanel h3.formtitle * {
    vertical-align: middle;
}

img.waitingImage {
    display: block;
    margin: 10px auto;
}

/* jirabamboo plugin administration page */
.bamboo-logo {
    background: url(../../resources/com.atlassian.jira.plugin.ext.bamboo:bamboo-version-tabpanel/images/icon_bamboo.png) no-repeat;
    height: 32px;
    width: 32px;
}